.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.06em;
}

.photo-grid {
    max-width: 395px;
}

.hero-text {
    align-self: flex-start;
}

.hero-title {
    margin-bottom: 0;
}

.hero-paragraph {
    margin-top: 0.2em;
    max-width: 320px;
}

