.card-container {
    position: relative;
    width: 176px;
    margin-bottom: .85em;
    flex: 0 0 auto;
}

p {
    margin: 0;
    font-size: .75rem;
    color: #918E9B;
}
.card-img {
    border-radius: 9px;
}

.card-info {
    /* display: flex; */
}

.card-info-img {
     width: 14px;
     height: 14px;
     margin-right: 2px;
}

.card-info-rating {
    color: #918E9B;
    margin-right: 2px;
}

.card-info-rate {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.card-info-title,
.card-info-cost {
    margin: .25rem 0;
}

.card-info-cost {
    display: flex;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}